:host{
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 12px;
    padding: 8px 4px;
    align-items: center;
   border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    &:focus-visible,
    &:hover{
        background-color: var(--dark-hover-color);
    }
}

.subscriber-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}